* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	/* display: block; */
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
	max-width: 1440px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.header__container,
.main__container,
.footer__container {
	padding: 0 2.1875rem;
}

.headings-text {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 1.5625rem;
	line-height: 2.1875rem;
}

.call-text {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.cart-title-txt {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 1rem;
}

/*################## header ################## */

.header {
	/* height: auto; */
	background-image: url("../assets/images/bg-hero-mobile.svg");
	margin-bottom: 70px;
	padding-bottom: 1.875rem;
}

.header__container {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.header__container {
		display: flex;
	}

	.header__container-text {
		width: 50%;
		text-align: start;
		padding-right: 11.25rem;
		/* preguntar */
		padding-top: 4.375rem;
	}

	.header__container-img {
		width: 50%;
	}
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.875rem 1.25rem 0;
	margin-bottom: 6.25rem;
}

@media screen and (min-width: 768px) {
	.header__nav {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}

.header__button-try {
	font-size: 10px;
	background-color: white;
	padding: 0.125rem 1.25rem;
	border-radius: 1.25rem;
	color: black;
	border: none;
	box-shadow: 0 0 2px grey;
}

.header__logo {
	width: 5.9375rem;
}

.header__description {
	font-weight: 400;
	margin: 2.5rem 0;
}

.header__button-start {
	background-color: hsl(322, 100%, 66%);
	color: white;
	padding: 0.625rem 3.4375rem;
	border-radius: 25px;
	display: inline-block;
	margin-bottom: 2.5rem;
}

/*################## main ################## */
.main__container {
	position: relative;
}

.main__card {
	text-align: center;
	box-shadow: 0 0 3px grey;
	padding: 3.75rem 2.5rem 1.5625rem;
	border-radius: 0.625rem;
	margin-bottom: 1.875rem;
}

@media screen and (min-width: 768px) {
	.main__card {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}

	.main__card--flowing {
		flex-direction: row;
	}
}

.main__img {
	margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
	.main__card-img {
		text-align: center;
		/* preguntar width: 50%; */
		width: 50%;
	}

	.main__card-content {
		text-align: start;
		width: 50%;
	}

	.main__img {
		width: 18.75rem;
	}
}

.main__card-title {
	margin-bottom: 0.9375rem;
}

.main__card-description {
	font-weight: 400;
	color: rgb(186, 185, 185);
}

@media screen and (min-width: 768px) {
	.main__card-description {
		padding-right: 100px;
	}
}

.main__card--community {
	padding: 2.5rem 1.25rem;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	position: absolute;
	bottom: -18.75rem;
}

@media screen and (min-width: 768px) {
	.main__card--community {
		/* preguntar posicion right: 34%; y padding top por herencia */

		right: 34%;
		padding: 2.1875rem 6.25rem;
	}
}

.header__button-start--community {
	/* este nombre */
	background-color: hsl(322, 100%, 66%);
	color: white;
	padding: 0.625rem 3.4375rem;
	border-radius: 25px;
	display: inline-block;
}

.main__card--users {
	margin-bottom: 190px;
}

/*################## footer ################## */

.footer {
	background-color: hsl(192, 100%, 9%);
	color: white;
	padding-top: 0.75rem;
}

/* esto solo hay mediquery ponerlo aqui o debajo */
@media screen and (min-width: 768px) {
	.footer__container {
		margin-top: 7.5rem;
		display: flex;
		justify-content: space-between;
	}
}

.footer__contact {
	margin-top: 9.375rem;
	margin-bottom: 1.5625rem;
}

@media screen and (min-width: 768px) {
	.footer__contact {
		margin-top: 0;
		width: 33%;
	}

	.footer__social {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: start;
		margin-top: 3.125rem;
	}

	.footer__nav {
		display: flex;
		align-items: center;
	}

	.footer__list {
		padding: 0 3.125rem;
	}
}

.footer__icon {
	margin-right: 0.625rem;
}

.footer__logo {
	margin-bottom: 1.25rem;
	width: 10rem;
}

.footer__address,
.footer__telephone,
.footer__email {
	display: flex;
}

.footer__txt-p {
	margin-top: 0;
}

.footer__list-items {
	margin-bottom: 1.25rem;
}

.footer__social-icons {
	display: flex;
	justify-content: space-around;
	padding: 0 5.625rem;
}

@media screen and (min-width: 768px) {
	.footer__social-icons {
		padding: 0;
		justify-content: flex-start;
		text-align: start;
	}
}

.footer__icon-item {
	/* circulo? */
	border: 1px solid white;
	padding: 1px;
	border-radius: 50%;
}

@media screen and (min-width: 768px) {
	.footer__icon-item {
		margin-right: 0.625rem;
	}
}

.footer__copyright {
	margin-bottom: 0;
	font-size: 0.625rem;
	text-align: center;
	padding-bottom: 1.25rem;
}
